<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Edit</title>
</head>

<body>
  <h1>Edit <%=fish.name%></h1>

  <form action="/fish/<%=fish.id%>?_method=PUT" method="POST">
    <label for="name">*</label>
    <input type="text" name="name" id="name" placeholder="Name" value="<%=fish.name%>">

    <label for="binomial"></label>
    <%if (fish.binomial) {%>
    <input type="text" name="binomial" id="binomial" placeholder="Scientific Name" value="<%=fish.binomial%>">
    <%} else {%>
    <input type="text" name="binomial" id="binomial" placeholder="Scientific Name">
    <%}%>

    <label for="description"></label>
    <textarea name="description" id="description" placeholder="Description"><%=fish.description%></textarea>

    <label for="img"></label>
    <input type="text" name="img" id="img" placeholder="Image URL" value="<%=fish.img%>">

    <label for="price">*$</label>
    <input type="number" name="price" id="price" placeholder="0" value="<%=fish.price%>">.00

    <label for="qty">*</label>
    <input type="number" name="qty" id="qty" placeholder="Qty" value="<%=fish.qty%>">

    <input type="submit" value="Edit">
  </form>
  <a href="/fish/<%=fish.id%>"><button>Back</button></a>

</body>

</html>