<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <style>
    h1 {
      text-align: center;
    }

    .flex-container {
      display: flex;
      width: 90%;
      margin: auto;
      flex-wrap: wrap;
      flex-direction: row;
      height: 400px;
      justify-content: space-evenly;
    }

    .card {
      margin-top: 20px;
      margin-bottom: 7px;
      border: 1px solid gray;
      text-align: center;
    }



    img {
      width: 300px;
      height: 300px;
    }
  </style>
  <title>Our Fish</title>
  <style>
    h1 {
      text-align: center;
    }

    .flex-container {
      display: flex;
      width: 90%;
      margin: auto;
      flex-wrap: wrap;
      flex-direction: row;
      height: 400px;
      justify-content: space-evenly;
    }

    .card {
      margin-top: 20px;
      margin-bottom: 7px;
      border: 1px solid gray;
      text-align: center;
    }



    img {
      width: 300px;
      height: 300px;
    }

    #back {
      margin-left: 10px;
    }
  </style>
</head>

<body>
  <%if (currentUser) {%>
  <h1>Welcome, <%=currentUser.username%>!</h1>
  <%} else {%>
  <h1>Welcome!</h1>
  <%}%>
  <h1>Our Fish</h1>
  <a href="/">
    <button id="back" class="ui grey button">Back</button>
  </a>

  <a href="/fish/new">
    <button class="ui yellow button">Sell a Fish</button>
  </a>

  <nav>
    <ul>
      <%if (currentUser) {%>
  <li class="logout">
    <form action="/sessions?_method=DELETE" method="POST">
      <input class="negative ui button" type="submit" value="Logout">
  </li>
  </form>
  <%} else {%>
  <div class="ui buttons">
    <li>
      <a href="/users/register">
        <button class="ui button">Register</button>
      </a>
    </li>

    <div class="or"></div>

    <li>
      <a href="/sessions/login">
        <button class="ui positive button">Sign In</button>
      </a>
    </li>

  </div>
  <%}%>
    </ul>
  </nav>

  <hr>

  <div class="flex-container">
    <%for (let i = 0; i < fish.length; i++) {%>
  <div class="card">
    <a href="/fish/<%=fish[i].id%>">
      <h2><%=fish[i].name%></h2>
    </a>

    <%if (fish[i].img) {%>
    <a href="/fish/<%=fish[i].id%>"><img src="<%=fish[i].img%>" alt="<%=fish[i].name%>"></a>
    <% } else {%>
    <a href="/fish/<%=fish[i].id%>"><img
        src="https://www.ccms.edu/wp-content/uploads/2018/07/Photo-Not-Available-Image.jpg" alt="<%=fish[i].name%>"></a>
    <% }%>
  </div>
  <%}%>
  </div>
    </div>
</body>

</html>