<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title><%=fish.name%></title>
</head>

<body>
  <a href="/fish"><button class="ui grey button" id="back">Back</button></a>

  <div class="ui container">
    <div class="ui stackable two column grid">

      <div class="column">
        <h1><%=fish.name%></h1>

        <p><%=fish.binomial%></p>

        <%if (fish.img) {%>
        <img src="<%=fish.img%>" alt="">
        <%} else {%>
        <img src="https://www.ccms.edu/wp-content/uploads/2018/07/Photo-Not-Available-Image.jpg" alt="<%=fish.name%>">
        <%}%>
      
      <nav>
        <a href="/fish/<%=fish.id%>/edit">
        <button class="ui blue basic button">Edit</button>
        </a>
        <form action="/fish/<%=fish.id;%>?_method=DELETE" method="POST">
          <input id="delete-btn" class="negative ui button" type="submit" value="Delete" />
        </form>

        </nav>
      </div>

      <div class="column">
        <h3>Price:</h3>
        <h3>$<%=fish.price%></h3>

        <p><%=fish.description%></p>
        <%if (fish.qty > 0) {%>
        <h3><%=fish.qty%> in stock</h3>
        <form action="/fish/buy/<%=fish.id%>?_method=PUT" method="POST">
          <input class="positive ui button" type="submit" value="Buy Fish" id="buy">
        </form>

        <%} else {%>
        <h3>OUT OF STOCK</h3>
        <%}%>
</div>
</div>
      


</div>
</body>

</html>

<style>
  #back {
    margin: 10px;
  }

  img {
    width: 350px;
    height: 350px;
  }

  #delete-btn {
    margin-top: 5px;
  }

</style>