<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title><%=fish.name%></title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1><%=fish.name%></h1>

        <p><%=fish.binomial%></p>

        <%if (fish.img) {%>
        <img src="<%=fish.img%>" alt="">
        <%} else {%>
        <img src="https://www.ccms.edu/wp-content/uploads/2018/07/Photo-Not-Available-Image.jpg" alt="<%=fish.name%>">
        <%}%>
      </div>

      <div class="col-sm">

        <h3>Price:</h3>
        <h3>$<%=fish.price%></h3>

        <p><%=fish.description%></p>
        <%if (fish.qty > 0) {%>
        <h3><%=fish.qty%> in stock</h3>
        <form action="/fish/buy/<%=fish.id%>?_method=PUT" method="POST">
          <input type="submit" value="Buy Fish" id="buy">
        </form>

        <%} else {%>
        <h3>OUT OF STOCK</h3>
        <%}%>
      </div>
    </div>

    <form action="/fish/<%=fish.id;%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
        </form>
        <a href="/fish/<%=fish.id%>/edit"><button>Edit</button></a>
        <a href="/fish"><button>Back</button></a>

      </div>
</body>

</html>

<style>
  img {
    width: 350px;
    height: 350px;
  }
</style>